<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.CoCoDa.mapper.BoardMapper">

<!-- 게시글 읽기 -->
	<select id="readingBoard" resultType="HashMap" parameterType="string">
		SELECT BOARDNUM,
			   ID,
			   TITLE,
			   TO_CHAR(INPUTDATE, 'YYYY-MM-DD') INPUTDATE,
			   HITS
		  FROM BOARD
		<if test="_parameter != null">
		 WHERE 
		       TITLE LIKE '%' || #{searchText} || '%'
		</if>
		 ORDER BY BOARDNUM DESC
	</select>
	
	
	
	
	<select id="readingEachBoard" resultType="HashMap" parameterType="int" >

		SELECT BOARDNUM,
  			   ID,
			   TITLE,
			   CONTENT,
			   TO_CHAR(INPUTDATE, 'YYYY-MM-DD') INPUTDATE,
			   HITS
		  FROM BOARD
		 WHERE BOARDNUM = #{boardnum}
	
	</select>

	<insert id="insertboard" parameterType="HashMap">

		INSERT INTO BOARD (
			BOARDNUM,
			ID,
			TITLE,
			CONTENT
		)
		VALUES (
			BOARD_SEQ.NEXTVAL,
			#{id},
			#{title},
			#{content}
		)

	</insert>

	<!-- 조회수 1 증가 -->
	<update id="addHits" parameterType="int">
		
		UPDATE BOARD
		   SET HITS = HITS + 1
         WHERE BOARDNUM = #{boardnum}

	</update>
	
	<delete id= "deleteBoard" parameterType="int">
	
		DELETE
		
			BOARD
			
		WHERE
		
			BOARDNUM = #{boardnum}
			
	</delete>
	
	<!-- 글 수정 -->
	<update id="updateBoard" parameterType="HashMap">
		
		UPDATE BOARD
		   SET TITLE = #{title}
			 , CONTENT = #{content}
		 WHERE BOARDNUM = #{boardnum}
			AND ID = #{id}

	</update>
	
	<!-- 전체 글 개수 (검색 필터링 후) -->			
	<select id="getTotal" parameterType="string" resultType="int">		

		SELECT COUNT(*)
		  FROM BOARD	
		<if test="_parameter != null">		
		 WHERE TITLE LIKE '%' || #{searchText} || '%'	
		</if>		

	</select>	
	
	<insert id="insertReply" parameterType="HashMap">

		INSERT INTO REPLY (

				REPLYNUM
			  , BOARDNUM
			  , ID
			  , TEXT

			) values(

				REPLY_SEQ.NEXTVAL
			  , #{boardnum}
			  , #{id}
			  , #{text}

			)
			
	</insert>
			
	
	
	<select id="listReply" parameterType="int" resultType="HashMap">
		
		SELECT REPLYNUM
			 , BOARDNUM
			 , ID
			 , TEXT
			 , TO_CHAR(INPUTDATE, 'YYYY-MM-DD') AS INPUTDATE
		  FROM REPLY
		 WHERE BOARDNUM = #{boardnum}
		 ORDER BY REPLYNUM
			
	</select>
	
	<!-- 리플삭제 -->
	<delete id="deleteReply" parameterType="HashMap">

		DELETE FROM REPLY
		 WHERE REPLYNUM = #{replynum}
		   AND ID = #{id}

	</delete>
	
	<!-- 리플 수정 -->
	<update id="updateReply" parameterType="HashMap">

		UPDATE REPLY
		   SET TEXT = #{text}
		 WHERE REPLYNUM = #{replynum}
		   AND ID = #{id}

	</update>
</mapper>