<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.CoCoDa.mapper.UserMapper">
  
  <select id="userlogin" resultType="HashMap" parameterType="HashMap">

	SELECT
		 USERID
		 ,USERPW
	FROM
		USER
	WHERE
		USERID = #{userid}
	AND
		USERPW = #{userpw}

	</select>
   

	<insert id="userjoin" parameterType="HashMap">

		INSERT INTO USER (
			USERID
			, USWERPW
			, USERNAME
			, USEREMAIL
		) VALUES (
			#{userid}
			,#{userpw}
			,#{username}
			,#{useremail}
		)
			
	</insert>
  
  
  <!-- ID로 회원 정보 검색 -->
	<select id="searchUserid" resultType="String">

		SELECT USERID FROM USER WHERE USERID = #{userid}

	</select>
	
	<!-- 회원가입 -->
	<insert id="joinUser" parameterType="HashMap">

		INSERT INTO USER (
			USERID
			, USERPW
			, USERNAME
			, USEREMAIL
		)
		values (
			#{userid}
			, #{userpw}
			, #{username}
			, #{useremail}
		)
		
	</insert>
  
  </mapper>
  
  