<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	 <typeAliases>
		<typeAlias alias="Selectkey" 	type="com.CoCoDa.vo.SelectKeyVO"/>
		<typeAlias alias="Selectincome" type="com.CoCoDa.cocoda.vo.SelectIncomeVO"/>
		<typeAlias alias="reply" type="com.CoCoDa.vo.ReplyVO"/>
		<typeAlias alias="user" type="com.CoCoDa.vo.UserVO"/>
		<typeAlias alias="board" type="com.CoCoDa.vo.BoardVO"/>
		
	</typeAliases>
	<mappers>
		<mapper resource="mappers/AttractMapper.xml"/>
		<mapper resource="mappers/BoardMapper.xml"/>
		<mapper resource="mappers/DangerMapper.xml"/>
		<mapper resource="mappers/IndexMapper.xml"/>
		<mapper resource="mappers/NoticeBoardMapper.xml"/>
		<mapper resource="mappers/OfferMapper.xml"/>
		<mapper resource="mappers/PopMapper.xml"/>
		<mapper resource="mappers/QaboardMapper.xml"/>
		<mapper resource="mappers/TotalMapper.xml"/>
		<mapper resource="mappers/UserMapper.xml"/>
	</mappers>
</configuration>

